::after,::before,*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_01{
    background-image: url('assets/akfadou.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    text-align: center;
}

.img-fixed{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.img-activities {
    height: 250px;
    object-fit: cover;
}

/* images logo*/
.img-fb {
    background-image: url("assets/logo/econFbOff.jpg");
    background-size:cover; 
    background-position: center;
    width: 80px;
    height: 80px;
}

.img-fb:hover{
    background-image: url('assets/logo/iconFbOn.jpg');
}

.img-instagram {
    background-image: url("assets/logo/econInstaOff.jpg");
    background-size:cover; 
    background-position: center;
    width: 80px;
    height: 80px;
    margin: 5px;

}

.img-instagram:hover{
    /* background-image: url('assets/logo/iconFbOn.jpg'); */
}

.img-tiktok {
    background-image: url("assets/logo/econInstaOff.jpg");
    background-size:cover; 
    background-position: center;
    width: 80px;
    height: 80px;
}

.img-tiktok:hover{
    /* background-image: url('assets/logo/iconFbOn.jpg'); */
}

.a_img-instagram ,.a_img-tiktok{
    cursor:default;
}