.logo{
    height: 54px;
    width: 54px;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    froàm{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}

.hero{
    background-image: url(assets/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.description {
    background-color: rgba(125, 125, 125, 0.9);
    box-shadow: 0rem 0.2rem 0.5rem rgb(25 , 25, 25);
}

.description:hover{
    scale: 1.1;
}

h2{
    margin-bottom: 1.5rem;
    text-align: center;
    color: #4CAF50;
}

.download-section{
    background-image: url(assets/guide.jpg);
    background-position: center;
    height: 33vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact{
    background-image: url(assets/plane.jpg);
    padding: 10vh 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    background-color: rgba(225, 225, 225, 0.5);
}

.card:hover{
    scale: 1.05;
}