.logo{
    height: 42px;
}

.my-container{
    height: 75vh;
    margin-top: 24px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.top-content {
    padding-top: 80px;
}

.img-card-top{
    height: 15vh;
    object-fit: contain;
}

/* .toScroll {
    height: 15vh;
} */